/mcp910-pre1.zip
/Optifine\ SRC\ Version\ \[1\.8\ HD\ U\ H6\].rar
/exports/magicpizzaclient-v1/
/minecraft/
/mcp910-pre1/
/Optifine\ SRC\ Version\ \[1\.8\ HD\ U\ H6\]/
/CSHS_Submission/
/exports/
/Client/.settings/
/Client/.project
/Client/.classpath